.profile-page {
    max-width: 500px;
    margin: 40px auto;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(44, 62, 80, 0.08);
    padding: 32px;
    text-align: center;
    h2{
        margin-bottom: 10px;
    }
}

.profile-info {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 24px;
    justify-content: center;
}

.user-info{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.profile-avatar {
    border: 3px solid #6c63ff;
}

.avatar-form {
    margin-top: 16px;
}

.avatar-form input[type="file"] {
    margin-bottom: 12px;
}

.avatar-form button {
    padding: 12px 24px;
    margin: 20px 0 0;
    background: #6c63ff;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.avatar-form button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

/* Input type file styles */

.field__wrapper {
  width: 100%;
  position: relative;
  margin: 15px 0;
  text-align: center;
}
 
.field__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
 
.field__file-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
 
.field__file-fake {
  height: 40px;
  width: calc(100% - 130px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  border: 1px solid #c7c7c7;
  border-radius: 3px 0 0 3px;
  border-right: none;
}
 
.field__file-button {
  width: 130px;
  height: 40px;
  background: #1bbc9b;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}